<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Edit product</title>
</head>
<body>
    <form action="/edit" method="post">
    <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <h1 class="text-center mb-4">Edit Product</h1>
        <div class="form-group">
        <input type="hidden" name="id" value="{{prod._id}}">
        <div class="form-group">
            Name <input type="text" class="form-control" name="txtName" value="{{prod.name}}">
        </div>

        <div class="form-group">
        Price <input type="text" class="form-control" name="txtPrice" value="{{prod.price}}">
        </div>

        <div class="form-group">
        ImageL <input type="text" class="form-control" name="Image" value="{{prod.Image}}" size="25">
        </div>

        <div class="form-group">
            Quantity <input type="text" class="form-control" name="Quantity" value="{{prod.Quantity}}">
        </div>
        <div class="form-group">
            Type <input type="text" class="form-control" name="Type" value="{{prod.Type}}">
        </div>
        <input type="submit" value="Update">
    </form>
          </div>
    </div>
  </div>
</body>
</html>